<div class="col"><form>
    <div class="form-group">
      <label>Введите логин</label>
        <input [(ngModel)]="userName" name="userName"  class="form-control" type="email">
    </div>  
    <div class="form-group">
      <label>Введите пароль</label>
        <input class="form-control"  name="password" [(ngModel)]="password" type="password">
    </div>   
    <div class="form-group row"> 
        <div class="col-md-6"></div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block" (click)="Login()">Войти</button>
      </div>
    </div>                                                
</form>
</div>